/* line 1, ../../app/stylesheets/testimonials.sass */
.testimonials {
  padding-bottom: 20px;
}
/* line 5, ../../app/stylesheets/testimonials.sass */
.testimonials .testimonial {
  float: left;
  width: 45%;
  margin-right: 1%;
  margin-left: 2%;
}
/* line 15, ../../app/stylesheets/testimonials.sass */
.testimonials .testimonial.first {
  margin-right: 5%;
}
/* line 19, ../../app/stylesheets/testimonials.sass */
.testimonials .testimonial .testimonial_block {
  height: auto;
  position: relative;
  padding-bottom: 16px;
}
/* line 27, ../../app/stylesheets/testimonials.sass */
.testimonials .testimonial .testimonial_block .testimonial_content {
  padding: 6px;
}
/* line 31, ../../app/stylesheets/testimonials.sass */
.testimonials .testimonial .testimonial_block .testimonial_content .quote {
  float: left;
  padding-right: 12px;
  padding-bottom: 6px;
}
/* line 39, ../../app/stylesheets/testimonials.sass */
.testimonials .testimonial .testimonial_block .testimonial_author {
  position: absolute;
  right: 12px;
  bottom: 2px;
  font-weight: bold;
  font: 14px "HelveticaNeueLTStd-Bd";
}
