/* line 1, ../../app/stylesheets/top_cities.sass */
.top_cities {
  padding-top: 12px;
  padding-bottom: 20px;
}
/* line 7, ../../app/stylesheets/top_cities.sass */
.top_cities .top_city {
  float: left;
  padding-right: 20px;
}
/* line 13, ../../app/stylesheets/top_cities.sass */
.top_cities .top_city img {
  width: 100px;
  height: 67px;
}
/* line 19, ../../app/stylesheets/top_cities.sass */
.top_cities .top_city a {
  font-family: "Helvetica Neue (TT)", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
