#header  
  #home_nav.container
    = render 'shared/menu'

#logo.container
  .title International Capital Exchange Workshops
  .addthis= render :partial => '/shared/addthis'
  .clear
  .slogan= pc("HOME header slogan")
