.top_cities
  - City.all.each do |city|
    - next unless city.seminars.any?
    .top_city
      = city.name
      .city_img= link_to (image_tag city.photo(:medium2)), city_agenda_path(city)
      - seminar = city.seminars.upcoming.first
      - seminar = city.seminars.past.first unless seminar
      .event_range.smaller_range
        = seminar.event_range if seminar
.clear
%br